# Copyright (C) 2012 The Android Open Source Project

on post-fs-data
    chown root root /sys/class/android_usb/android0/mass_storage.0/lun.0/file
    chmod 0770 /sys/class/android_usb/android0/mass_storage.0/lun.0/file
    chown root root /sys/class/android_usb/android0/f_rndis/ethaddr
    chmod 0770 /sys/class/android_usb/android0/f_rndis/ethaddr

on charger
    mount configfs none /sys
    mkdir /sys/class/android_usb/android0 0770
    mkdir /sys/class/android_usb/android0/strings/0x409 0770
    write /sys/class/android_usb/android0/bcdUSB 0x0200
    write /sys/class/android_usb/android0/strings/0x409/serialnumber ${ro.serialno}
    write /sys/class/android_usb/android0/strings/0x409/manufacturer ${ro.product.manufacturer}
    mkdir /sys/class/android_usb/android0/functions/mass_storage.0
    mkdir /sys/class/android_usb/android0/configs/b.1 0770
    mkdir /sys/class/android_usb/android0/configs/b.1/strings/0x409 0770
    write /sys/class/android_usb/android0/configs/b.1/MaxPower 900
    write /sys/class/android_usb/android0/strings/0x409/product ${vendor.usb.product_string}
    wait  /sys/class/udc/${sys.usb.controller}
    setprop sys.usb.configfs 1
    setprop vendor.usb.use_ffs_mtp 1

on init
    setprop sys.usb.configfs 1
    
on boot
    mkdir /sys/class/android_usb/android0 0770
    mkdir /sys/class/android_usb/android0/strings/0x409 0770
    write /sys/class/android_usb/android0/bcdUSB 0x0200
    write /sys/class/android_usb/android0/strings/0x409/serialnumber ${ro.serialno}
    write /sys/class/android_usb/android0/strings/0x409/manufacturer ${ro.product.manufacturer}
    mkdir /sys/class/android_usb/android0/functions/mass_storage.0
    mkdir /sys/class/android_usb/android0/configs/b.1 0770
    mkdir /sys/class/android_usb/android0/configs/b.1/strings/0x409 0770
    write /sys/class/android_usb/android0/configs/b.1/MaxPower 900
    write /sys/class/android_usb/android0/strings/0x409/product ${vendor.usb.product_string}
    wait  /sys/class/udc/${sys.usb.controller}
    setprop sys.usb.configfs 1
    setprop vendor.usb.use_ffs_mtp 1

on property:ro.boot.usbcontroller=*
    setprop sys.usb.controller ${ro.boot.usbcontroller}
    wait /sys/bus/platform/devices/${ro.boot.usb.dwc3_msm:-a600000.ssusb}/mode
    write /sys/bus/platform/devices/${ro.boot.usb.dwc3_msm:-a600000.ssusb}/mode peripheral
    wait /sys/class/udc/${ro.boot.usbcontroller} 1

on post-fs
    mount configfs none /config
    mkdir /sys/class/android_usb/android0 0770
    mkdir /sys/class/android_usb/android1 0770
    mkdir /sys/class/android_usb/android0/strings/0x409 0770
    mkdir /sys/class/android_usb/android1/strings/0x409 0770
    write /sys/class/android_usb/android0/bcdUSB 0x0200
    write /sys/class/android_usb/android1/bcdUSB 0x0200
    write /sys/class/android_usb/android0/os_desc/use 1
    write /sys/class/android_usb/android0/strings/0x409/serialnumber ${ro.serialno}
    write /sys/class/android_usb/android1/strings/0x409/serialnumber ${ro.serialno}
    write /sys/class/android_usb/android0/strings/0x409/manufacturer ${ro.product.manufacturer}
    write /sys/class/android_usb/android1/strings/0x409/manufacturer ${ro.product.manufacturer}
    mkdir /sys/class/android_usb/android0/functions/mass_storage.0
    mkdir /sys/class/android_usb/android0/functions/mtp.gs0
    mkdir /sys/class/android_usb/android0/functions/ffs.adb
    mkdir /sys/class/android_usb/android0/configs/b.1 0770
    mkdir /sys/class/android_usb/android1/configs/b.1 0770
    mkdir /sys/class/android_usb/android0/configs/b.1/strings/0x409 0770
    mkdir /sys/class/android_usb/android1/configs/b.1/strings/0x409 0770
    write /sys/class/android_usb/android0/configs/b.1/MaxPower 900
    write /sys/class/android_usb/android0/os_desc/b_vendor_code 0x1
    write /sys/class/android_usb/android0/os_desc/qw_sign "MSFT100"
    write /sys/class/android_usb/android0/functions/diag.diag/serial ${ro.serialno}
    mkdir /dev/usb-ffs 0775 shell system
    mkdir /dev/usb-ffs/adb 0770 shell system
    mount functionfs adb /dev/usb-ffs/adb uid=2000,gid=1000,rmode=0770,fmode=0660
    setprop sys.usb.mtp.device_type 3

on post-fs && property:vendor.usb.use_ffs_mtp=1
   mkdir /sys/class/android_usb/android0/functions/ffs.mtp
   mkdir /dev/usb-ffs/mtp 0770 mtp mtp
   mount functionfs mtp /dev/usb-ffs/mtp rmode=0770,fmode=0660,uid=1024,gid=1024,no_disconnect=1

on boot && property:vendor.usb.use_gadget_hal=1
   setprop sys.usb.configfs 2

on property:sys.usb.config=* && property:sys.usb.configfs=2
   setprop vendor.usb.config ${sys.usb.config}

on property:vendor.usb.config=* && property:sys.usb.configfs=2
   start usbd

on property:ro.vendor.asus.product.mkt_name=*
    write /sys/class/android_usb/android0/strings/0x409/product ${ro.vendor.asus.product.mkt_name}

on property:sys.usb.config=none && property:sys.usb.configfs=1
    write /sys/class/android_usb/android0/UDC "none"
    stop adbd
    setprop sys.usb.ffs.ready 0
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/bDeviceSubClass 0
    write /sys/class/android_usb/android0/bDeviceProtocol 0
    rm /sys/class/android_usb/android0/configs/b.1/f1
    rm /sys/class/android_usb/android0/configs/b.1/f2
    rm /sys/class/android_usb/android0/configs/b.1/f3
    rmdir /sys/class/android_usb/android0/functions/rndis.gs4
    setprop sys.usb.state ${sys.usb.config}

on property:init.svc.adbd=stopped
    setprop sys.usb.ffs.ready 0

on property:sys.usb.config=* && property:sys.usb.configfs=1
    rm /sys/class/android_usb/android0os_desc/b.1

on property:sys.usb.config=none && property:sys.usb.configfs=1
    rm /sys/class/android_usb/android0/configs/b.1/f1
    rm /sys/class/android_usb/android0/configs/b.1/f2
    rm /sys/class/android_usb/android0/configs/b.1/f3
    rm /sys/class/android_usb/android0/configs/b.1/f4
    rm /sys/class/android_usb/android0/configs/b.1/f5
    rm /sys/class/android_usb/android0/configs/b.1/f6
    rm /sys/class/android_usb/android0/configs/b.1/f7
    rm /sys/class/android_usb/android0/configs/b.1/f8
    rm /sys/class/android_usb/android0/configs/b.1/f9

on property:sys.usb.config=mass_storage && property:sys.usb.configfs=1
    write/sys/class/android_usb/android0/configs/b.1/strings/0x409/configuration "msc"
    rm /sys/class/android_usb/android0/configs/b.1/f1
    rm /sys/class/android_usb/android0/configs/b.1/f2
    rm /sys/class/android_usb/android0/configs/b.1/f3
    rm /sys/class/android_usb/android0/configs/b.1/f4
    rm /sys/class/android_usb/android0/configs/b.1/f5
    rm /sys/class/android_usb/android0/configs/b.1/f6
    rm /sys/class/android_usb/android0/configs/b.1/f7
    rm /sys/class/android_usb/android0/configs/b.1/f8
    rm /sys/class/android_usb/android0/configs/b.1/f9
    write /sys/class/android_usb/android0/idVendor 0x1d6b
    write /sys/class/android_usb/android0/idProduct 0x0002
    symlink /sys/class/android_usb/android0/functions/mass_storage.0 /sys/class/android_usb/android0/configs/b.1/f1
    write /sys/class/android_usb/android0/UDC ${sys.usb.controller}
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mass_storage,adb && property:sys.usb.configfs=1
    start adbd

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=mass_storage,adb && property:sys.usb.configfs=1
    write /sys/class/android_usb/android0/configs/b.1/strings/0x409/configuration "adb_msc"
    rm /sys/class/android_usb/android0/configs/b.1/f1
    rm /sys/class/android_usb/android0/configs/b.1/f2
    rm /sys/class/android_usb/android0/configs/b.1/f3
    rm /sys/class/android_usb/android0/configs/b.1/f4
    rm /sys/class/android_usb/android0/configs/b.1/f5
    rm /sys/class/android_usb/android0/configs/b.1/f6
    rm /sys/class/android_usb/android0/configs/b.1/f7
    rm /sys/class/android_usb/android0/configs/b.1/f8
    rm /sys/class/android_usb/android0/configs/b.1/f9
    symlink /sys/class/android_usb/android0/configs/b.1 /sys/class/android_usb/android0/os_desc/b.1
    write /sys/class/android_usb/android0/idVendor 0x1d6b
    write /sys/class/android_usb/android0/idProduct 0x0002
    symlink /sys/class/android_usb/android0/functions/ffs.adb /sys/class/android_usb/android0/configs/b.1/f1
    symlink /sys/class/android_usb/android0/functions/mass_storage.0 /sys/class/android_usb/android0/configs/b.1/f2
    write /sys/class/android_usb/android0/UDC ${sys.usb.controller}
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=adb && property:sys.usb.configfs=1
    start adbd

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=adb && property:sys.usb.configfs=1
    write /sys/class/android_usb/android0/configs/b.1/strings/0x409/configuration "adb"
    symlink /sys/class/android_usb/android0/functions/ffs.adb /sys/class/android_usb/android0/configs/b.1/f1
    write /sys/class/android_usb/android0/UDC ${sys.usb.controller}
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp && property:sys.usb.configfs=1
    write /sys/class/android_usb/android0/configs/b.1/strings/0x409/configuration "mtp"
    symlink /sys/class/android_usb/android0/functions/mtp.gs0 /sys/class/android_usb/android0/configs/b.1/f1
    write /sys/class/android_usb/android0/UDC ${sys.usb.controller}
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,adb && property:sys.usb.configfs=1
    start adbd

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=mtp,adb && property:sys.usb.configfs=1
    write /sys/class/android_usb/android0/configs/b.1/strings/0x409/configuration "mtp_adb"
    symlink /sys/class/android_usb/android0/functions/mtp.gs0 /sys/class/android_usb/android0/configs/b.1/f1
    symlink /sys/class/android_usb/android0/functions/ffs.adb /sys/class/android_usb/android0/configs/b.1/f2
    write /sys/class/android_usb/android0/UDC ${sys.usb.controller}
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=adb && property:sys.usb.configfs=1
    write /sys/class/android_usb/android0/idVendor 0x18d1
    write /sys/class/android_usb/android0/idProduct 0x4ee7
    symlink /sys/class/android_usb/android0/configs/b.1 /sys/class/android_usb/android0/os_desc/b.1

on property:sys.usb.config=mtp && property:sys.usb.configfs=1
    write /sys/class/android_usb/android0/idVendor 0x18d1
    write /sys/class/android_usb/android0/idProduct 0x4ee1
    symlink /sys/class/android_usb/android0/configs/b.1 /sys/class/android_usb/android0/os_desc/b.1

on property:sys.usb.config=mtp && property:vendor.usb.use_ffs_mtp=1 && property:sys.usb.configfs=1
    symlink /sys/class/android_usb/android0/functions/ffs.mtp /sys/class/android_usb/android0/configs/b.1/f1
    symlink /sys/class/android_usb/android0/configs/b.1 /sys/class/android_usb/android0/os_desc/b.1

on property:sys.usb.config=mtp,adb && property:sys.usb.configfs=1
    write /sys/class/android_usb/android0/idVendor 0x18d1
    write /sys/class/android_usb/android0/idProduct 0x4ee2

on property:sys.usb.config=mtp,adb && property:vendor.usb.use_ffs_mtp=1 && property:sys.usb.configfs=1
    symlink /sys/class/android_usb/android0/functions/ffs.mtp /sys/class/android_usb/android0/configs/b.1/f1
    symlink /sys/class/android_usb/android0/functions/ffs.adb /sys/class/android_usb/android0/configs/b.1/f2
    symlink /sys/class/android_usb/android0/configs/b.1 /sys/class/android_usb/android0/os_desc/b.1